/* Reset default browser styles */
body, h1, h3, p {
  margin: 0;
  padding: 0;
}

/* Set a background color */
body {
  background-color: #FFFFFF;
}

p {
  max-width: 55vw;
  /* min-width: 400px; */
  text-align: justify;
}

/* Add space around the div with id "hero" */
#hero {
  margin: 5%;
  margin-left: 10%;
  margin-right: 15%;
  padding: 2%;
  align-items: center;
}

#spacer {
  margin: 10px;
  padding: 10px;
}

/* Center the content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the heading */
h1 {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 40px;
  font-family: 'Trebuchet MS', sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', sans-serif;
}

h3 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', sans-serif;
}

/* Style the paragraph */
p,li{
  font-size: 18px;
  color: #050505;
  font-family: 'Garamond', sans-serif;
  margin-bottom: 9px;
}

/* Style the link */
a {
  color: #9E92FF;
  text-decoration: none;
}

/* Add hover effect to the link */
a:hover {
  color: #5844FC;
}

a {
  transition: color 0.3s ease-in-out;
}

#work {
  max-width: 800px;
}

.b1 {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.b2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px; /* Space between the image and the text */
}

.b1 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image fits within the square */
}

.work-item {
  display: block;
  text-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5%;
  margin: 10px 10px 10px 0;
  box-sizing: border-box;
  max-width: 55vw;
  min-width: 150px
}

.work-item a {
  vertical-align: middle;
  display: inline;
  color: #050505;
  font-size: 13px;
  font-family: 'Garamond', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

.work-item .article-title {
  vertical-align: middle;
  display: inline-block;
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  color: #050505;
  font-family: 'Garamond', sans-serif;
}

.work-item .journal-name {
  vertical-align: middle;
  display: inline-block;
  max-width: 28%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #050505;
  font-weight: 400;
  font-family: 'Garamond', sans-serif;
  font-style: italic;
}

.work-item .publication-date {
  vertical-align: middle;
  max-width: 10%;
  font-weight: 400;
  color: #050505;
  font-family: 'Garamond', sans-serif;
  font-style: oblique;
}

.dash {
  display: inline-block;
  vertical-align: middle;
}

.work-item .article-title {
  transition: color 0.2s ease-in-out;
}

.work-item:hover .article-title {
  color: #5844FC;
}

.projdesc {
  margin-top: 10px;
  display: block;
  height: 2em; /* Approx. 3 lines */
  overflow: scroll;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-width: 45vw;
  text-align: justify;
}

.work-item:hover .projdesc {
  height: 10em;
}

.work-item .projdesc {
  transition: height 0.5s ease-in-out;
}

.work-item .journal-name {
  transition: color 0.25s ease-in-out;
}

.work-item:hover .journal-name {
  color: #5844FC;
}

.work-item .publication-date {
  transition: color 0.25s ease-in-out;
}

.work-item:hover .publication-date {
  color: #7A6AFC;
}

.work-item {
  transition: color 0.3s ease-in-out;
}

.work-item:hover {
  border-bottom: 1px solid #7A6AFC;
}


@media (max-width: 2500px) {

  .work-item {
    text-wrap: pretty;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
  }

  .work-item .article-title {
    text-wrap: nowrap;
    width: 85%;
    max-width: 100%;
  }
  
  .work-item .journal-name {
    width: 70%;
    max-width: 70%;
    text-wrap: nowrap;
  }
  
  .work-item .publication-date {
    display: inline-block;
    width: 25%;
    max-width: 25%;
    text-align: right;
    text-wrap: nowrap;
  }

  .dash {
    display: none;
    vertical-align: middle;
  }
}

@media (max-width: 600px) {

  p {
    font-size: 15px;
    max-width: 90vw;
  }

  .work-item {
    text-wrap: pretty;
    max-width: 90vw;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
  }

  .work-item .article-title {
    text-wrap: nowrap;
    width: 100%;
    max-width: 100%;
  }
  
  .work-item .journal-name {
    width: 70%;
    max-width: 70%;
    text-wrap: nowrap;
  }
  
  .work-item .publication-date {
    display: inline-block;
    width: 25%;
    max-width: 25%;
    text-align: right;
    text-wrap: nowrap;
  }

  .dash {
    display: none;
    vertical-align: middle;
  }

  .projdesc {
    max-width: 80vw;
  }
  
}