/* Reset default browser styles */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Set a background color */
body {
  background-color: #FFFFFF;
}

/* Add space around the div with id "hero" */
#hero {
  margin: 5%;
  padding: 2%;
  align-items: center;
}

#spacer {
  margin: 20px;
  padding: 20px;
}

/* Center the content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the heading */
h1 {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', sans-serif;
}

/* Style the paragraph */
p,li{
  font-size: 17px;
  color: #050505;
  font-family: 'Garamond', sans-serif;
  margin-bottom: 9px;
}

/* Style the link */
a {
  color: #9E92FF;
  text-decoration: none;
}

/* Add hover effect to the link */
a:hover {
  color: #5844FC;
}

#work {
  width: 90%;
  max-width: 1000px;
  display: block;
  justify-content: left;
}

.work-item {
  display: block;
  width: 100%;
  padding: 0.5%;
  margin: 10px 10px 10px 0;
  box-sizing: border-box;
  min-width: 150px
}

.work-item a {
  display: inline;
  color: #050505;
  font-size: 17px;
  font-family: 'Garamond', sans-serif;
}

.work-item img {
  width: 100%;
  height: auto;
  display: block;
}

.work-item .journal-name {
  max-width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #050505;
  font-size: 17px;
  font-family: 'Garamond', sans-serif;
  font-style: italic;
}

.work-item .article-title {
  font-size: 17px;
  max-width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  color: #050505;
  font-family: 'Garamond', sans-serif;
}

.work-item .publication-date {
  font-size: 17px;
  max-width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  color: #919191;
  font-family: 'Garamond', sans-serif;
}

.work-item .article-title {
  transition: color 0.2s ease-in-out;
}

.work-item:hover .article-title {
  color: #5844FC;
}

.work-item .journal-name {
  transition: color 0.3s ease-in-out;
}

.work-item:hover .journal-name {
  color: #5844FC;
}

.work-item .publication-date {
  transition: color 0.4s ease-in-out;
}

.work-item:hover .publication-date {
  color: #7A6AFC;
}

@media (max-width: 768px) {
  .work-item {
      width: 45%;
  }
}
@media (max-width: 480px) {
  .work-item {
      width: 100%;
  }
}